html, body
{
	height:100%; 
}

body
{
	font-family: 'Ubuntu', sans-serif;
	background-color:#000000;
	margin:0;
	display:flex;
	flex-direction: column;
}

/*#header
{
	

}*/

/*petit smartphone 320 à 413 px de large*/
/*smartphone 414 à 479 px de large */
/*petite tablette 480 à 767 px de large*/
/*tablette 768 à 1023 px de large*/
/*petit desktop  1024 à 1439 px de large*/
/*desktop 1440 et plus de large*/





@media screen and (max-width: 413px) /*affichage vertical pour smartphone dont largeur inférieur à 413 pixels*/
{
	#header_container
	{
		font-size: 16px;
		height:40px;
	}

	#logo_simplon 
	{
		width:30px;
		height:30px;
		position:absolute;
		left:20px;
		top:5px;
	}

	#main
	{
		flex-direction: column;
	}

	.circle
	{
		margin:5px;
		height:60px;
		width:60px;
	}

	.circle > p
	{
		font-size: 40px;
	}

	.text
	{
		width: 100px;
		height: 70px;
		flex-direction: column;
	}

	.text > p
	{
		font-size: 20px;
	}

	#footer_container
	{
		height:40px;
		font-size: 16px;
	}

	#logo_github
	{
		width:30px;
		height:30px;
		margin-left: 10px;
	}
}

@media screen and (min-width: 414px) and (max-width: 479px)
/*affichage vertical pour smartphone dont largeur égale ou supérieure à 414 pixels et inférieure à 480*/
{
	#header_container
	{
		
		font-size: 20px;
		height:54px;
	}

	#logo_simplon 
	{
		width:40px;
		height:40px;
		position:absolute;
		left:30px;
		top:7px;
	}

	#main
	{
		flex-direction: column;
	}

	.circle
	{
		margin:5px;
		height:90px;
		width:90px;
	}

	.circle > p
	{
		font-size: 50px;
	}

	.text
	{
		width: 100px;
		height: 70px;
		flex-direction: column;
	}

	.text > p
	{
		font-size: 24px;
	}

	#footer_container
	{
		height:54px;
		font-size: 20px;
	}

	#logo_github
	{
		width:40px;
		height:40px;
		margin-left: 20px;
	}
}

@media screen and (min-width: 480px) and (max-width: 1024px)
/*affichage vertical pour tablette largeur égale ou supérieure à 480 pixels et inférieure à 1024*/
{
	#header_container
	{
		
		font-size: 36px;
		height: 87px;
	}

	#header_text
	{
		margin-left:20px; /*évite de coller le texte au logo*/
	}

	#logo_simplon 
	{
		width:40px;
		height:40px;
		position:absolute;
		left:10px;
		top:10px;
	}

	#main
	{
		flex-direction: column;
	}

	.circle
	{
		margin:5px;
		height:140px;
		width:140px;
	}

	.circle > p
	{
		font-size: 80px;
	}

	.text
	{
		width: 100px;
		height: 70px;
		flex-direction: column;
	}

	.text > p
	{
		font-size: 24px;
	}

	#footer_container
	{
		height:87px;
		font-size: 24px;
	}

	#logo_github
	{
		width:90px;
		height:90px;
		margin-left: 20px;
	}
}



#header_container
{
	
	display:flex;
	justify-content: center; 
	align-items: center;
	background-color:#ffffff;
}

/*#logo_simplon 
{
	text-align: left;
}*/

#main
{
	margin:auto;
	display: flex;
}

.container
{
	display: flex;
	align-items: center;
}

.circle
{
	border-radius: 50%;
	display : flex;
	flex-direction: column;
	justify-content: center;
}

.month_circle
{
	background-color:#15ADE0;
}

.day_circle
{
	background-color:#EF476F;
}

.hour_circle
{
	background-color:#06D6A0;
}

.minute_circle
{
	background-color:#FFD166;
}

.second_circle
{
	background-color:#5F46C3;
}

.circle > p
{
	text-align: center;
}

.text
{
	display : flex;
	justify-content: center;
}

.text > p
{
	text-align: left;
}

.month_text
{
	color:#15ADE0;
}

.day_text
{
	color:#EF476F;
}

.hour_text
{
	color:#06D6A0;
}

.minute_text
{
	color:#FFD166;
}

.second_text
{
	color:#5F46C3;
}

p
{
	margin:0;
}



#footer_container
{
	display:flex;
	justify-content: center;
	align-items: center;
	background-color:#ffffff;
}

